#ti-sidebar {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    width: 250px;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#ti-sidebar .table_wrap {
    display: none;
}

#ti-sidebar.light {
    border: 1px solid rgb(215,215,215);
}

#ti-sidebar.dark {
    border: 1px solid rgb(61, 61, 61);
}

#ti-header {
    height: 50px;
}

#ti-header.light {
    background: #eee;
    border-bottom: 1px solid rgb(215,215,215);
}

#ti-header.dark {
    background: rgb(38, 38, 38);
    border-bottom: 1px solid rgb(61, 61, 61);
}

#ti-header img {
    float: left;
    height: 30px;
    margin: 10px;
}

#ti-header h1 {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

#ti-content li {
    height: 60px;
    padding: 0 40px;
}

#ti-content.light li{
    border-bottom: 1px solid rgb(215,215,215);
}

#ti-content.dark li{
    border-bottom: 1px solid rgb(61, 61, 61);
}

#ti-content li p {
    font-size: 1.3em;
    line-height: 60px;
    padding: 0;
    margin: 0;
}

#ti-content piece {
    margin: 10px 10px 10px 0;
    height: 40px;
    width: 40px;
    position: relative;
    float: left;
}

.right {
    float: right;
}

.left {
    float: left;
}

#ti-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 8px;
    border-top: 1px solid rgb(215,215,215);
}

#ti-range-wrapper input[type="number"] {
    float: left;
    height: 30px;
    width: 72px;
    padding: 4px;
    border: none;
    margin: 4px 4px 8px 4px;
}

#ti-range-wrapper p {
    font-weight: bold;
    margin: 0px auto 4px auto;
    text-align: center;
    font-size: 16px;
}

#ti-range-set {
    float: left;
    width: 50px;
    height: 38px;
    padding: 4px;
    border: none;
    margin: 4px;
}

#ti-puzzle {
    line-height: 30px;
    text-align: center;
}

#ti-url {
    margin: -1px;
    width: 100%;
}

/* Override default LiChess styles */

.please_vote {
    display: none;
}
#ti-sidebar .table_wrap {
    margin: 0 auto;
}

#ti-sidebar .table {
    border: none;
}

#ti-sidebar .current_player {
    display: none;
}

#ti-sidebar .findit {
    display: none !important;
}